@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Styles */
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:  border-box;
}


html, body {
  padding: 0;
  margin: 0;
}

/*
  
  footer / navigation

*/

/*#region Navigation*/
nav {
  position: flex;
  left:0;
  right:0;
  justify-content: flex-end;
  height: 12vh;  
  display: inline-block;
}

nav > i {
  margin: .3em;
  float: left;
}

.header-free-text {
  float: right;
  font-family: 'Inconsolata', monospace;
  font-size: 4em;
  font-weight: 600;
  margin-right: 1.5em;  
}


.header-menu-navigation{
  cursor: pointer;
}



@media only screen and (max-width: 599px){ 
  .header-free-text {
    font-size: 2em;
    margin-top: 1em;  
  }
  .header-menu-navigation{
    margin-left: .5em;  
    margin-right: .5em;  
    font-size: 4em;
  }
}

@media only screen and (min-width: 600px){ 
  .header-free-text {
    font-size: 3em;
    margin-top: .6em;  
  }
  .header-menu-navigation{
    font-size: 6em;
    margin-top: 0.1em;
  }
}

@media only screen and (min-width: 700px){ 
  .header-free-text {
    font-size: 3.5em;
    margin-top: .5em;  
  }
  .header-menu-navigation{
    margin-top: 0.1em;
    margin-left: 1em;  
    margin-right: 1em;  
    font-size: 5em;
  }
}

@media only screen and (min-width: 900px){ 
  .header-free-text {
    font-size: 4em;
    margin-top: .3em;  
  }
  .header-menu-navigation{
    margin-top: 0.3em;
    font-size: 4em;
  }
}



/*#endregion*/

/*

  SearchBox

*/

/* #region Search Icon */
@media only screen and (max-width: 599px){ 
   .searchIcon{  
    margin-top: .3em;
    margin-right: .5em;
    font-size: 3em;
  }
}


@media only screen and (min-width: 600px){ 
   .searchIcon{  
    margin-top: .3em;
    margin-right: .7em;
    font-size: 4em;
  }
}


@media only screen and (min-width: 900px){ 
  .searchIcon{  
    margin-top: .5em;
    margin-right: 1em;
    font-size: 5em;
  }
}

.searchIcon{
	cursor: pointer;
  color: #bbb;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  position: relative;
  z-index: 2;
  float:right;
}


.searchIcon:hover{
  color: white;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

input[type="checkbox"]#search:checked + label i {
  color: white;
}


input[type="checkbox"]#search:checked ~  .slow-overlay  {
  opacity: 1;
  visibility: visible;
  top: 0;
  height: 50vh;
  z-index: 1;
}

input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
  visibility: visible;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;  
}

input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm > .close-icon::after  {
  visibility:  visible;
}

/* #endregion */


.slow-overlay{
  width: 100%;
  height: 40vh;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: linear-gradient(top, black 0, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}


/*#region Search Form*/

.searchForm {
  top: 0vh;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;    
}

.searchBox {   
    padding: .2em .4em .2em .4em;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    text-transform: uppercase;
    color: #eee;
    background-color: transparent;
    border: inherit;
    outline: none;
    position:relative;             
}


.searchBox:focus {
   /*box-shadow: 0 0 15px 5px #b0e0ee;*/
   text-transform: uppercase;
   text-decoration: underline;
}

.searchBox:invalid {
   border: none;
}


.search-isin-block{
  height: 45vh;
  background-image: url("../img/dax.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.close-icon {
	border:1px transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  position:relative;
  width: 1em;
  height: 1em;
  cursor: pointer;
  content: "\f00d";
	font-family: FontAwesome; 
}

.close-icon::after {
	content: "\f00d";
	font-family: FontAwesome;
	cursor: pointer;
  display: block;
	position: absolute;
	z-index:1;	
  left: 0em;	
	padding: 2px;
	text-align: center;
	color: #ddd;    
  visibility:  hidden;
}


.searchBox:not(:valid) ~ .close-icon {
	display: none;
}


@media only screen and (min-width: 600px){   
  .close-icon {
    font-size: 3em;    
  }
  .close-icon::after {
    top: 0.45em;
  }
  .searchBox {   
    max-width: 40%;
    font-size: 4em;
  }
  input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
    margin-top: 30vh;
  }
}

@media only screen and (min-width: 700px){ 
  .close-icon {
    font-size: 3.5em;    
  }
  .close-icon::after {
    top: 0.45em;
  }
  .searchBox {   
    max-width: 42%;
    font-size: 4.5em;
  }
  input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
    margin-top: 28vh;
  }
}


@media only screen and (min-width: 900px){ 
  .close-icon {
    font-size: 4em;    
  }
  .close-icon::after {
    top: 0.48em;
  }
  .searchBox {   
    max-width: 48%;
    font-size: 5em;
  }
  input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
    margin-top: 25vh;
  }
}


@media only screen and (max-width: 599px){ 
  .searchBox {   
    visibility: hidden;
  }
  input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm   {
    margin-top: 0vh;
  }
  input[type="checkbox"]#search:checked ~  .slow-overlay form > .searchForm > .close-icon::after  {
      visibility:  hidden;
  }
}



/*#endregion*/

/*#region Isin list*/

.isin-box{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;  
  min-height:34vh;
}


.isin-each{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: 0.2em auto 0.2em auto;
  color: #777;
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;  
}

.isin-each:active {
    color: rgb(43, 53, 135);
}

.isin-each:hover {
    -webkit-transition: all 0.2s linear 0.1s;
    transition: all 0.2s linear 0.1s;  
    color: #444;
}


@media only screen and (max-width: 600px){ 
  .isin-each{
    font-size: 5vh;
  }
}

@media only screen and (min-width: 600px){ 
  .isin-box{
     padding-left: 5%;
  }
  .isin-each{
    font-size: 5.5vh;
  }
}

@media only screen and (min-width: 700px){ 
  .isin-box{
     padding-left: 10%;
  }
  .isin-each{
    font-size: 6vh;
  }
}

@media only screen and (min-width: 900px){ 
  .isin-box{
     padding-left: 10%;
  }
  .isin-each{
    font-size: 6.4vh;
  }
}

/*#endregion*/


/*

  helpers

*/

.flex-container {
     box-sizing: border-box;
     margin: 0 auto;
     padding: 0 1em;
     margin-top: 15vh;
 }
 
 .flex-container> div {
     display: block;
 }

@media (min-width: 540px) {
  .flex-container {
      max-width: 540px;
  }
}

@media (min-width: 768px){
  .flex-container {
    max-width: 768px;
  }
}

@media (min-width: 992px){
  .flex-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px){
  .flex-container {
    max-width: 1200px;
  }
}



.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.flex-left{
  justify-content: flex-start;
}


.flex-right{
  justify-content: flex-end;
}

.flex-left-vertical-center{
  justify-content: flex-start;
  align-content: center;
}

.full-width {
    display: block;
    width: 100%;
}

.center-h{
  display: flex;
  justify-content: center;
}

.center-v{
  display: flex;
  align-content: center;
}

.left-h-top-v{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.visible{
  visibility: visible;
} 

.hidden{
  visibility: hidden;
} 



.start-here-button{
  cursor: pointer;
  border: white 1px solid;
  border-radius: 40px;
  opacity: 0.4;
  color: white;  
  width: 10em;
  text-align: center;
  padding: 0.2em 0 0.2em 0;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;  
  position:relative;
  z-index: 10;
}

.start-here-button:hover{
  background:  white;
  color: rgb(43, 53, 135);
  opacity:1;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out ;
}

/*message should be possibly shown */
.start-here-message-box{
    visibility: hidden;

}

.start-here-button:hover + .start-here-message-box{
    visibility: visible;
}


@media only screen and (min-width: 600px){ 
}

@media only screen and (min-width: 700px){ 
}

@media only screen and (min-width: 900px){ 
}

@media only screen and (min-width: 1200px){ 
}



